{% extends 'layout_user.html' %}
{% load static %}
{% block css %}

    <style>
        .item-description {
            width: 250px;
            color: #888888;
        }

        p {
            margin: 0 0 10px;
        }

        .detail-title {
            padding: 10px 0 0;
            margin: 20px 0;
            font-size: 22px;
            color: #6e7099;
        }

        .description-title {
            padding: 10px 0 0;
            margin: 20px 0;
            font-size: 18px;
            color: #6e7099;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row center-block" style="margin-top: 10px; width: 80%">
            <div class="col-md-12">
                <h1 class="detail-title ">{{ item_object.item_name }}</h1>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="center-block" style="width: 60%;">
                            <img src="/media/{{ item_object.item_img }}" class="img-responsive"
                                 alt="{{ item_object.item_name }}">
                        </div>
                    </div>
                    <div class="col-md-6 " style="margin-top: 30px; padding-left: 40px;">
                        <p>物品种类：{{ item_object.item_category }}</p>
                        <p>卖家：{{ item_object.seller }}</p>
                        <p>价格：{{ item_object.price }}￥</p>
                        <p>购买时间：{{ item_object.purchase_time }}</p>
                        <p>新旧程度：{{ item_object.get_item_condition_display }}</p>
                        <p>交易位置：{{ item_object.location }}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="center-block" style="width: 80%; margin-top: 30px; padding-left: 15px;">
            <h1 class="description-title ">物品描述</h1>
            <p>{{ item_object.item_description }}</p>

        </div>

    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            bindBtnAddEvent();
            bindBtnSaveEvent();
        })

        function bindBtnAddEvent() {
            $("#btnAddOrder").click(function () {

                // 点击新建按钮，显示对话框。
                $('#myModal').modal('show');
            });
        }

        function bindBtnSaveEvent() {
            $("#btnSave").click(function () {
                var ITEM_ID = document.getElementById("item-id").textContent;
                var AMOUNT = document.getElementById("item-price").textContent;
                var ITEM_NAME = document.getElementById("item-name").textContent;

                $.ajax({
                    url: "/order/add/",
                    type: "GET",
                    data: {
                        item_id: ITEM_ID,
                        item_name : ITEM_NAME,
                        amount: AMOUNT,
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {

                            // 关闭对话框
                            $('#myModal').modal('hide');

                            //跳转到/order/list/
                            window.location.href = '/order/list/';

                        } else {
                            alert("创建订单失败");
                        }
                    }
                })

            });
        }

    </script>
{% endblock %}
